@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    padding-top: 29px;
    background: rgba(192, 213, 224, 0.6);
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
  }
}
